.table-format{
    background: white;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}
.column-holder{
    padding-left: 7.5vh;
    margin-bottom: 20px;
}
.column-box{
    position: relative;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
}
.template-value-holder{
    background: #ECEEFF;
    border-radius: 12px;
    padding: 12px;
    margin: 5px;
    /* -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s; */
    cursor: pointer;
}
.template-value-holder.active{
    background: #7FD1AE;
}
.template-value-holder:hover{
    border: 2px solid #407BFF;
}